<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
  <meta charset="UTF-8">
  <title>BookMarks</title>
  <link rel="stylesheet" th:href="@{/css/profile/bookmarks.css}">
</head>

<body>
<header th:insert="fragments/header :: navigationBar"></header>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col" style="margin-top: 6%">
      <div th:class="h1">Bookmarks</div>
      <div class="col" th:if="${bookmarks.isEmpty()}">
        <p>You dont have any bookmarks yet.</p>
      </div>
      <table class="table mt-3 table-borderless" id="purchaseTable" th:unless="${bookmarks.isEmpty()}">
        <tbody>
        <tr th:each="computer : ${bookmarks}">
          <td>
            <div class="card">
              <div class=" card-body">
                <div class="row">
                  <div class="col-2">
                    <a th:href="@{/computers/{id}(id=${computer.getId()})}">
                      <img th:src="@{${computer.getImg()}}" class="rounded float-start" width="150"
                           height="150" alt="PhoneImage"></a>
                  </div>
                  <div class="col-5 ">
                    <div class="row">
                      <div class="col text-center">
                        <a th:href="@{/computers/{id}(id=${computer.getId()})}" class="titleBookmark"
                           th:text="${computer.getName()}">name</a>
                      </div>
                    </div>
                    <p class="mt-3" th:text="${computer.getOs()+', '+computer.getAccumulatorCapacity()+' MAh,'
                                        +computer.getNumberOfMatrixPoints()+' Mp,'+computer.getScreenTechnology()+', '
                                        +computer.getScreenRefreshRate()+' Hz,'+computer.getProcessor()}"></p>

                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <form th:action="@{/computers/bookmark/{id}(id=${computer.getId()},from='bookmarks')}"
                              th:method="DELETE">
                          <input class="deleteFromBookmarks float-end"
                                 type="image" th:src="@{/img/profile/garbageIcon.png}"
                                 alt="garbageIcon"
                                 width="20" height="20" id="garbageBookmark"/>
                        </form>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col">
                        <form th:action="@{/profile/{id}(id=${computer.getId()},requestFrom='bookmarks')}"
                              th:method="POST"
                              th:name="addPurchaseInPhoneCatalog">

                          <input th:unless="${userUtils.containsPhoneInPreparatoryOrder(#authentication.getPrincipal().getUser().getOrders(),computer.getId())}"
                                 class="addInBookmarks btn btn-danger position-absolute bottom-0 end-0"
                                 type="submit"
                                 name="addToList" value="Add to List"/>
                          <input th:if="${userUtils.containsPhoneInPreparatoryOrder(#authentication.getPrincipal().getUser().getOrders(),computer.getId())}"
                                 class="addInBookmarks btn btn-success disabled position-absolute bottom-0 end-0"
                                 type="submit"
                                 name="addToList" value="Added"/>
                        </form>
                        <span class="getPriceInBookmark position-absolute bottom-0 end-0"
                              th:text="${computer.getPrice()+'$'}"></span>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>