
body {
    background-size: cover;
}

.container-fluid{
    margin-top: 200px;
}
*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form-group"] h2 {
    font-family: 'Open Sans' , sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}