<html xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>NewFilm</title>
  <style>
    body:not(.container) {
      background-color: #b2c79b;
    }
  </style>
</head>
<body>
<header th:insert="fragments/header :: navigationBar"></header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-5 " style="margin-top: 56px">
      <div class="card">
        <div class="card-body">
          <form th:method="POST" th:action="@{/films}" th:object="${newFilm}">
            <div class="mb-3">
              <label for="filmName" class="form-label" style="font-weight: bold">Film name</label>
              <input name="name" type="text" class="form-control" id="filmName"
                     aria-describedby="emailHelp" placeholder="Name" th:field="*{name}">
              <span style="color: darkred" th:errors="*{name}"></span>
            </div>
            <div class="mb-3">
              <label for="filmPrice" class="form-label" style="font-weight: bold">Film price:
                <span style="font-weight: normal"> (You have to use Double.Example: 780 or 567.2)</span>
              </label>
              <input name="filmPrice: " type="text" class="form-control" id="filmPrice"
                     placeholder="Price"
                     th:field="*{price}">
              <span style="color: darkred" th:errors="*{price}"></span>
            </div>
            <div class="mb-3">
              <label for="filmImg" class="form-label" style="font-weight: bold">Film Image
                <span style="font-weight: normal">(You have to add link to image)</span></label>
              <input name="image" type="text" class="form-control" id="filmImg" placeholder="ImageLink"
                     th:field="*{img}">
              <span style="color: darkred" th:errors="*{img}"></span>
            </div>
            <div class="mb-3">
              <label for="filmGenre" class="form-label" style="font-weight: bold">Film genre
                <span style="font-weight: normal">(You have to add genre)</span></label>
              <input name="image" type="text" class="form-control" id="filmGenre" placeholder="genre"
                     th:field="*{genre}">
              <span style="color: darkred" th:errors="*{genre}"></span>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>