<html xmlns:th="http://www.thymeleaf.org/" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <title>Film</title>
  <link rel="stylesheet" th:href="@{/css/film/showFilm.css}">
</head>

<body>
<header th:insert="fragments/header :: navigationBar"></header>
<div class="container ">
  <div class="row justify-content-left mb-2 ">
    <div class="col-3 " style="margin-top: 80px">
      <img th:src="@{${film.getImageUrls()}}" class="popup" width="300" height="300" alt="Image"
           style="cursor: pointer"/>
    </div>
    <div class="col-9">
      <div class="row justify-content-centre ">
        <div class="col-8">
          <h1 th:text="${film.getName()}" style="margin-top: 80px; margin-left: 100px"></h1>
        </div>
      </div>
      <div class="row">
        <div class="col ">
          <h6 th:text="${film.getGenre()+', '+film.getFilmDirector()+', '+film.getName()+', '+film.getName()+'}"
              style="margin-top: 120px"></h6>
        </div>
      </div>
      <div class="row ">
        <div class="col-1">
          <h3 th:text="${film.getPrice()} + '$'" style="margin-top: 30px"></h3>
        </div>
        <div class="col-2" sec:authorize="isAuthenticated() and !hasRole('ADMIN')">
          <form th:action="@{/profile/{id}(id=${film.getId()},requestFrom='showFilm')}" th:method="POST"
                th:name="addPurchaseInFilmCatalog">
            <input th:unless="${userUtils.containsFilmInPreparatoryOrder(#authentication.getPrincipal().getUser().getOrders(),film.getId())}"
                   class="addButtonInShowPhone btn btn-danger" type="submit" name="addToList"
                   value="Add to List"/>
            <input th:if="${userUtils.containsPhoneInPreparatoryOrder(#authentication.getPrincipal().getUser().getOrders(),film.getId())}"
                   class="addButtonInShowPhone btn btn-success disabled" type="submit" name="addToList"
                   value="Added"/>
          </form>
        </div>
        <div class="col-2" sec:authorize="hasRole('ADMIN')" style="margin-top: 30px">
          <button type="button" class="btn btn-primary " data-bs-toggle="modal"
                  data-bs-target="#addImage" data-bs-whatever="@mdo" style="margin-left: 30px">Add image
          </button>
          <div class="modal fade" id="addImage" tabindex="-1" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Link for image</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                          aria-label="Close"></button>
                </div>
                <form th:action="@{/films/{id}(id=${film.getId()})}" th:method="POST">
                  <div class="modal-body">
                    <div class="mb-3">
                      <label for="filmImage" class="form-label">Phone image</label>
                      <input name="imageLink" type="text" class="form-control" id="filmImage"
                             placeholder="filmImage" th:value="${imageLink}">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Add
                      image
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2" style="margin-top: 30px" sec:authorize="hasRole('ROLE_ADMIN')">
          <form th:action="@{/films/{id}/updateFilm(id=${film.getId()})}" th:method="GET"
                th:name="update">
            <input class="btn btn-primary" type="submit" name="info" value="Update"/>
          </form>
        </div>

      </div>
    </div>
    <hr style="margin-top: 20px">
  </div>
  <div class="row">
    <div class="ImagesShow col">
      <th:block th:each="image :${films.getImageUrls()}">
        <img th:src="@{${image}}"
             class="img-thumbnail popup" alt="image" width="100" height="100" style="cursor: pointer">

      </th:block>
    </div>
    <hr style="margin-top: 20px">
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-2">
          <h2>Description</h2>
        </div>
        <div class="col-7">
          <p class="infoRawInShowFilm" sec:authorize="isAnonymous()">If you want to buy films in our
            store,please <a
                    class="infoLinkInShow" th:href="@{/login}">login</a>,or
            make a <a class="infoLinkInShow" th:href="@{/registration}">registration</a> in out store.
          </p>
        </div>


      </div>
      <table class="table  table-borderless">
        <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-secondary">
          <td>
            <h5>Description</h5>
          </td>
          <td></td>
        </tr>

        <tr>
          <td>Film name</td>
          <td th:text="${film.getName()}">filmName</td>
        </tr>
        <tr>
          <td>Film director</td>
          <td th:text="${film.getFilmDirector()} +''">filmDirector</td>
        </tr>
        <tr>
          <td>Genre</td>
          <td th:text="${film.getGenre()}">filmGenre</td>
        </tr>
        <tr>
          <td>Price</td>
          <td th:text="${film.getPrice()}">filmPrice</td>
        </tr>
        </tbody>
      </table>
      <hr/>
    </div>
  </div>

</div>
<div class="modal fade modal-img" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <img id="popup-img" src="" alt="image">
    </div>
  </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>